
APP_NAME=HelloWorld

APPETIZE_ANDROID_ID=@@APPETIZE_ANDROID_ID@@
APPETIZE_IOS_ID=@@APPETIZE_IOS_ID@@

DELIVERY_URL=ftp://ftp.astalavistababy.agency/delivery/$(echo $APP_NAME | sed 's/.*/\L&/')

PROJECT_DIR=$(pwd)
